Source: ros-hydro-rail-segmentation
Section: misc
Priority: extra
Maintainer: Russell Toris <rctoris@wpi.edu>
Build-Depends: debhelper (>= 9.0.0), libboost-all-dev, libyaml-cpp-dev, pkg-config, ros-hydro-catkin, ros-hydro-message-generation, ros-hydro-pcl-conversions, ros-hydro-pcl-ros, ros-hydro-rail-manipulation-msgs, ros-hydro-roscpp, ros-hydro-roslib, ros-hydro-sensor-msgs, ros-hydro-std-srvs, ros-hydro-tf, ros-hydro-tf2, ros-hydro-tf2-ros
Homepage: http://ros.org/wiki/rail_segmentation
Standards-Version: 3.9.2

Package: ros-hydro-rail-segmentation
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-all-dev, libyaml-cpp-dev, ros-hydro-message-runtime, ros-hydro-pcl-conversions, ros-hydro-pcl-ros, ros-hydro-rail-manipulation-msgs, ros-hydro-roscpp, ros-hydro-roslib, ros-hydro-sensor-msgs, ros-hydro-std-srvs, ros-hydro-tf, ros-hydro-tf2, ros-hydro-tf2-ros
Description: Segmentation Functionality from the RAIL Lab
